<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ToDo_HJ.Properties.Settings.Gestao_BDConnectionString"
            connectionString="Data Source=(localdb)\Gestao;Initial Catalog=Gestao_BD;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ToDo_HJ.Properties.Settings.Base_de_DadosConnectionString"
            connectionString="Data Source=(localdb)\ToDo;Initial Catalog=Base_de_Dados;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>